*.apk
*.aab
*.ap_
*.aab

*.dex

*.class

bin/
gen/
out/

.gradle/
build/
**/build/

local.properties

*.iml
.idea/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

*.jks
*.keystore

*.hprof

mapping/

*.log

.DS_Store
.DS_Store?
Thumbs.db
ehthumbs.db
Desktop.ini

.externalNativeBuild/
.cxx/

/captures

obj/

*.iws
/out/

.kotlin/

*.env

.claude/settings.local.json
